<footer class="footer container">
  <div class="footer-logo">
    <a href="" rel="noopener noreferrer nofollow" class="icon">
      <svg class="icon1"
      width="16"
      height="16">
      <use href="../images/icon.svg#icon-vector"></use>
    </svg>
    <svg class="icon2"
    width="146"
    height="16">
    <use href="../images/icon.svg#icon-text"></use>
    </svg></a>
  </div>
  <p class="footer-text">Whether you're looking for a healthy snack or a thoughtful gift, our fruit baskets are the perfect choice.</p>
  <a href="" class="link-how headline3" >how it works
    vegetables
    reviews</a>



    <address class="address">
      <ul>
        <li>
          <a
            href="tel:+380684439426"
            target="_blank"
            rel="noopener noreferrer nofollow"
            class="footer-tel"
            >+380 (68) 443-94-26</a
          >
        </li>
        <li>
          <a
            href="mailto:simplychoc@gmail.com"
            target="_blank"
            rel="noopener noreferrer nofollow"
            class="footer-email"
            >1678 S. Pioneer Road Salt
             Lake City UT 84104</a
          >
        </li>
      </ul>
    </address>
</footer>

