<footer class="footer">
  <div class="container">
    <div class="footer-wrap-big">
      <div class="footer-logo">
        <a
          href="./index.html"
          rel="noopener noreferrer nofollow"
          class="icon"
          aria-label="logo"
        >
          <svg class="icon1" width="16" height="16">
            <use href="./images/icon.svg#icon-vector"></use>
          </svg>
          <svg class="icon2" width="146" height="16">
            <use href="./images/icon.svg#icon-text"></use></svg
        ></a>
        <p class="footer-text">
          Whether you're looking for a healthy snack or a thoughtful gift, our
          fruit baskets are the perfect choice.
        </p>
      </div>

      <div class="footer-wrap">
        <nav class="footer-nav">
          <ul class="footer-nav-links">
            <li>
              <a
                href="#howworks"
                class="link-how headline3 scroll-to"
                aria-label="go to section How It Works"
                >how it works</a
              >
            </li>
            <li>
              <a
                href="#vegetables"
                class="link-how headline3 scroll-to"
                aria-label="go to section Vegetables"
                >vegetables</a
              >
            </li>
            <li>
              <a
                href="#reviews"
                class="link-how headline3 scroll-to"
                aria-label="go to section Reviews"
                >reviews</a
              >
            </li>
          </ul>
        </nav>
        <address class="address">
          <ul class="footer-adress-list">
            <li>
              <a
                href="tel:+380684439426"
                target="_blank"
                rel="noopener noreferrer nofollow"
                class="footer-tel"
                aria-label="make a phone call"
                >+380 (68) 443-94-26</a
              >
            </li>
            <li>
              <a
                href="https://www.google.com/maps/place/1678+Pioneer+Rd,+Salt+Lake+City,+UT+84104,+USA/@40.7330107,-111.9580985,17z/data=!4m15!1m8!3m7!1s0x8752f35b0826d399:0x2b26230524fd3ca3!2s1678+Pioneer+Rd,+Salt+Lake+City,+UT+84104,+USA!3b1!8m2!3d40.7335892!4d-111.9600867!16s%2Fg%2F11bw41vm_p!3m5!1s0x8752f35b0826d399:0x2b26230524fd3ca3!8m2!3d40.7335892!4d-111.9600867!16s%2Fg%2F11bw41vm_p?authuser=0&entry=ttu"
                target="_blank"
                rel="noopener noreferrer nofollow"
                class="footer-email"
                >1678 S. Pioneer Road Salt Lake City UT 84104</a
              >
            </li>
          </ul>
        </address>
      </div>
    </div>
    <div class="footer-policy">
      <p>
        Privacy Policy
        <span class="footer-span-policy">/</span>
        Cookie settings
      </p>
      <p><span>&#169;</span>Green Harvest 2023</p>
    </div>
  </div>
</footer>
