<header class="header">
  <div class="container">
    <div class="header-container">
      <div class="header-logo">
        <a href="./index.html" class="header-logo-link" aria-label="logo">
          <svg class="header-logo-icon" width="16" height="16">
            <use href="./images/icon.svg#icon-vector"></use>
          </svg>
          <svg class="header-logo-text" width="148" height="12">
            <use href="./images/icon.svg#icon-text"></use>
          </svg>
        </a>
      </div>
      <div class="navigation-wrapper">
        <nav class="header-navigation">
          <ul class="header-navigation-list">
            <li class="header-navigation-item">
              <a
                href="#howworks"
                class="header-navigation-link scroll-to current"
                aria-label="go to section How It Works"
                >How It Works</a
              >
            </li>
            <li class="header-navigation-item">
              <a
                href="#vegetables"
                class="header-navigation-link scroll-to"
                aria-label="go to section Vegetables"
                >Vegetables</a
              >
            </li>
            <li class="header-navigation-item">
              <a
                href="#reviews"
                class="header-navigation-link scroll-to"
                aria-label="go to section Reviews"
                >Reviews</a
              >
            </li>
          </ul>
        </nav>
        <button type="button" class="header-btn" aria-label="button Shop now">
          Shop now
        </button>
        <button
          type="button"
          class="close-menu-btn"
          id="header-burger-open"
          aria-label="button close mobile menu"
        >
          <svg class="header-close-icon" width="32" height="32">
            <use href="/images/icon.svg#icon-close"></use>
          </svg>
        </button>
      </div>
      <button
        type="button"
        class="mobile-menu-btn"
        id="header-burger-close"
        aria-label="button open mobile menu"
      >
        <svg class="header-menu-icon" width="32" height="32">
          <use href="./images/icon.svg#icon-menu"></use>
        </svg>
      </button>
    </div>
    <div class="modal"></div>
  </div>
</header>
