<section class="hero" id="hero">
  <div class="container">
    <div class="hero-text">
      <h1 data-aos="fade-left" class="hero-title headline1">
        organic vegetables to your diet today!
      </h1>
      <p data-aos="zoom-in-left" class="hero-para">
        Our expertly curated vegetable baskets are made with the freshest,
        highest quality vegetables available. Fresh Harvest Box has got you
        covered. Fresh, high-quality vegetables in expertly curated vegetable
        baskets delivered to you.
      </p>
    </div>
  </div>
  <div class="hero-image-cont">
    <picture class="hero-image-contant">
      <source
        srcset="./images/vegetabls_1x.webp 1x, ./images/vegetabls_2x.webp 2x"
        type="image/webp"
      />
      <img
        src="./images/vegetabls.jpg"
        alt="women cuts an apple"
        class="hero-image"
        width="773"
        height="800"
      />
    </picture>
  </div>
</section>
