<section class="howworks">
  <div class="container">
    <h2 class="visually-hidden">How it works</h2>
    <div class="howworks-image-container">
      <picture>
        <source
          srcset="./images/women_2x.webp 2x, ./images/women_1x.webp 1x"
          media="(min-width: 1280px)"
        />
        <source
          srcset="./images/women_2x.webp 2x, ./images/women_1x.webp 1x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./images/women_2x.webp 2x, ./images/women_1x.webp 1x"
          media="(min-width: 375px)"
        />
        <img
          src="./images/women.jpg"
          alt="women cuts an apple"
          width="335"
          height="450"
          class="howworks-image"
        />
      </picture>
    </div>
    <div class="order-container">
      <div class="order-desciption-wrap">
        <h3 class="order-title headline3">
          To order your <span class="order-title-color">vegetable </span>basket,
          simply follow these <span class="order-title-color">easy steps</span>
        </h3>
        <p class="order-description">
          Our baskets are assembled with care and delivered straight to your
          doorstep, so you can enjoy the taste of fresh fruit without ever
          leaving your home.
        </p>
      </div>
      <div class="order-step-wrap">
        <ol class="order-step-list">
          <li class="order-step-item">
            <p class="order-step-text">
              Just choose
              <span class="order-step-text-color">the vegetable</span> you want
              to order by clicking on the checkboxes
              <span class="order-step-text-color">next to it.</span>
            </p>
          </li>
          <li class="order-step-item">
            <p class="order-step-text">
              Click on <span class="order-step-text-color">the basket</span> and
              fill out the form.
            </p>
          </li>
          <li class="order-step-item">
            <p class="order-step-text">
              Sit back and relax! Your
              <span class="order-step-text-color">fresh vegetables </span>basket
              will be delivered.
            </p>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
