<section class="order">
  <div class="comtainer">
    <h2 class="order-title">Fresh Harvest Box has got you covered</h2>
    <p class="order-text">
      Our boxes are packed with delicious, nutritious vegetables, perfect for
      anyone looking to eat healthier or support local farmers. Order your box
      today and start enjoying the best that nature has to offer!
    </p>
    <div class="order-box">
      <div class="order-form-wrap">
        <h3 class="order-form-title">
          Ordering from us is quick and easy! Fill out the form below and we
          will contact you !
        </h3>
        <form>
          <label class="form-label"
            ><input
              type="text"
              name="user-name"
              placeholder="Full Name"
              class="input-field"
              required
          /></label>
          <label class="form-label">
            <input
              type="email"
              name="user-mail"
              placeholder="Email"
              class="input-field"
              required
            />
          </label>
          <label class="form-label">
            <textarea
              name=" user-commebt"
              placeholder="Comment"
              class="comment-field"
            ></textarea>
          </label>
          <button type="submit" class="order-btn">Send</button>
        </form>
      </div>
      <div class="order-contacts-wrap">
        <img src="" alt="" class="order-image" />
        <p class="order-contacts-descr">Follow us on our social networks:</p>
        <ul class="order-contacts-list">
          <li class="order-contacts-item">
            <a
              href="https://www.instagram.com/goitclub"
              target="_blank"
              class="order-contacts-link"
              >instagram</a
            >
          </li>
          <li class="order-contacts-item">
            <a
              href="https://www.facebook.com/goITclub"
              target="_blank"
              class="order-contacts-link"
              >facebook</a
            >
          </li>
          <li class="order-contacts-item">
            <a
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
              class="order-contacts-link"
              >youtube</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
