<section class="reviews" id="reviews">
  <div class="container">
    <h2 data-aos="fade-left" class="headline2 reviews-title">
      REVIEWS FROM OUR <span class="customers">CUSTOMERS</span>
    </h2>
    <p class="review-title-text">
      Words of our customers: impressions and opinions about the quality of our
      services and the freshness of our products.
    </p>
    <div class="swiper mySwiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide reviews-card">
          <div class="reviews-image-wrap">
            <img
              src="/images/reviews_img/john.png"
              alt="Photo John's Wax"
              class="reviews-img"
              width="56"
              height="56"
            />
          </div>

          <p class="reviews-name">John Wax</p>
          <p class="rewiews-person-text">
            These vegetables are my secret to delicious and healthy meals. The
            quality is always at the highest level, the aroma and taste are
            enchanting. I advise every fan of real products!
          </p>
        </li>
        <li class="swiper-slide reviews-card">
          <div class="reviews-image-wrap">
            <img
              src="/images/reviews_img/victoria.png"
              alt="Photo Victoria's Romashenko"
              width="56"
              height="56"
            />
          </div>
          <p class="reviews-name">Victoria Romashenko</p>
          <p class="rewiews-person-text">
            I love how fast and fresh the vegetables are delivered. Salads
            always turn out so appetizing, and soups are real masterpieces. The
            quality is impeccable!
          </p>
        </li>
        <li class="swiper-slide reviews-card">
          <div class="reviews-image-wrap">
            <img
              src="/images/reviews_img/ihor.png"
              alt=" Photo Ihor's Trachuk"
              width="56"
              height="56"
            />
          </div>
          <p class="reviews-name">Ihor Trachuk</p>
          <p class="rewiews-person-text">
            Recently tried my fresh tomatoes and peppers - amazing! The
            authenticity of the taste, as if from the garden directly to my
            table. It is now my main vegetable supplier.
          </p>
        </li>
      </ul>
      <div class="swiper-button-prev swiper-nav-font"></div>
      <div class="swiper-button-next swiper-nav-font"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
