<section class="vegetables" id="vegetables">
  <div class="container">
    <h2 data-aos="fade-left" class="veg-main-title headline2">
      organic <span class="veg-span-title">vegetables</span>
    </h2>
    <p class="veg-main-text">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="veg-list">
      <li data-aos="flip-left" class="veg-item">
        <h3 class="veg-item-title headline3">eggplant</h3>
        <p class="veg-item-text">60 UAH / kg</p>
        <picture>
          <source
            srcset="
              ./images/vegetables_img/eggplant_1x.webp 1x,
              ./images/vegetables_img/eggplant_2x.webp 2x
            "
            type="image/webp"
          />

          <img
            src="./images/vegetables_img/eggplant.png"
            class="veg-img"
            alt="eggplant"
            width="282"
            height="243"
          />
        </picture>
      </li>
      <li data-aos="flip-left" class="veg-item">
        <h3 class="veg-item-title headline3">leek</h3>
        <p class="veg-item-text">50 UAH / kg</p>
        <picture>
          <source
            srcset="
              ./images/vegetables_img/leek_1x.webp 1x,
              ./images/vegetables_img/leek_2x.webp 2x
            "
            type="image/webp"
          />

          <img
            src="./images/vegetables_img/leek.png"
            class="veg-img"
            alt="eggplant"
            width="282"
            height="243"
          />
        </picture>
      </li>
      <li data-aos="flip-left" class="veg-item">
        <h3 class="veg-item-title headline3">mushrooms</h3>
        <p class="veg-item-text">40 UAH / kg</p>
        <picture>
          <source
            srcset="
              ./images/vegetables_img/mushrooms_1x.webp 1x,
              ./images/vegetables_img/mushrooms_2x.webp 2x
            "
            type="image/webp"
          />

          <img
            src="./images/vegetables_img/mushrooms.png"
            class="veg-img"
            alt="eggplant"
            width="282"
            height="243"
          />
        </picture>
      </li>
      <li data-aos="flip-right" class="veg-item">
        <h3 class="veg-item-title headline3">corn</h3>
        <p class="veg-item-text">60 UAH / kg</p>
        <picture>
          <source
            srcset="
              ./images/vegetables_img/corn_1x.webp 1x,
              ./images/vegetables_img/corn_2x.webp 2x
            "
            type="image/webp"
          />

          <img
            src="./images/vegetables_img/corn.png"
            class="veg-img"
            alt="eggplant"
            width="282"
            height="243"
          />
        </picture>
      </li>
      <li data-aos="flip-right" class="veg-item">
        <h3 class="veg-item-title headline3">sweet potatoes</h3>
        <p class="veg-item-text">50 UAH / kg</p>
        <picture>
          <source
            srcset="
              ./images/vegetables_img/sweet_potatoes_1x.webp 1x,
              ./images/vegetables_img/sweet_potatoes_2x.webp 2x
            "
            type="image/webp"
          />

          <img
            src="./images/vegetables_img/sweet_potatoes.png"
            class="veg-img"
            alt="eggplant"
            width="282"
            height="243"
          />
        </picture>
      </li>
      <li data-aos="flip-right" class="veg-item">
        <h3 class="veg-item-title headline3">carrot</h3>
        <p class="veg-item-text">40 UAH / kg</p>
        <picture>
          <source
            srcset="
              ./images/vegetables_img/carrot_1x.webp 1x,
              ./images/vegetables_img/carrot_2x.webp 2x
            "
            type="image/webp"
          />

          <img
            src="./images/vegetables_img/carrot.png"
            class="veg-img"
            alt="eggplant"
            width="282"
            height="243"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
