.advertisement {
  padding: 80px 10px;
}

.text {
  display: inline-block;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.05263;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: black;
}
.advertisement-wrap {
  max-width: 335px;
}

.advertisement-text1 {
  background-color: #576f35;
  color: #fff;
  border-radius: 12px;
  padding: 5px;
}

@media screen and (max-width: 768px) {
  .advertisement-wrap {
    max-width: 736px;
  }
}
@media screen and (max-width: 1280px) {
  .advertisement-wrap {
    max-width: 1080px;
  }
}
