.advertisement {
  padding: 80px 10px;
}

.text {
  display: block;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.05263;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--text);
}

.advertisement-text1 {
  background-color: var(--background);
  color: var(--main-text);
  border-radius: 12px;
  padding: 5px;
}

@media screen and (min-width: 768px) {
  .advertisement {
    padding: 100px 16px;
  }
  .text {
    font-size: 64px;
    line-height: 109%;
    letter-spacing: -0.01em;
  }
}
@media screen and (min-width: 1280px) {
  .text {
    font-size: 76px;
    line-height: 105%;
    letter-spacing: -0.01em;

    display: inline-block;
  }
  .advertisement {
    padding: 100px;
  }
}
