.advertisement {
  padding: 100px 10px;
}

.text {
  display: inline-block;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.05263;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: black;
  max-width: 355px;
  height: 102px;
}

.advertisement-text1 {
  background-color: #576f35;
  color: #fff;
  border-radius: 12px;
  padding: 5px;
}

@media screen and (max-width: 768px) {
  .advertisement {
    font-weight: 600;
    font-size: 64px;
    line-height: 1.09375;
    letter-spacing: -0.01em;
  }
}
