@import url('../../node_modules/modern-normalize/modern-normalize.css');
@import url('./null.css');
@import url(../../node_modules/swiper/swiper.css);
@import url(../../node_modules/swiper/modules/pagination.css);
@import url(../../node_modules/swiper/modules/navigation.css);
@import url('./base.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./how_work.css');
@import url('./advertisement.css');
@import url('./vegetables.css');
@import url('./reviews.css');
@import url('./order.css');
@import url('./footer.css');

:root {
  --text: #141414;
  --background: #576f35;
  --background-2: #7a3145;
  --main-text: #fbfbfb;

  --font-family: 'Inter Tight', sans-serif;

  --trns: cubic-bezier(0.4, 0, 0.2, 1);
  --swiper-pagination-bottom: -2px;
  --swiper-pagination-color: #7a3145;
  --swiper-navigation-color: #7a3145;
  --swiper-pagination-bullet-inactive-color: #576f35;
  --swiper-navigation-top-offset: calc(50% - 10px);
  --swiper-navigation-size: 24px;
  --swiper-navigation-sides-offset: 1px;
}
