.reviews {
  color: var(--text);
  padding: 80px 0;
}
.customers {
  color: var(--background);
}

.review-title-text {
  margin-top: 20px;
  margin-bottom: 40px;
}

.reviews-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  text-align: center;
  color: #040306;
  padding-bottom: 8px;
  padding-top: 28px;
}
.rewiews-person-text {
  font-size: 14px;
  text-align: center;
  color: rgba(4, 3, 6, 0.4);
  max-width: 288px;
}
.reviews-card-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.reviews-card {
  border: 1px solid rgba(122, 49, 69, 0.3);
  border-radius: 24px;
  width: 335px;
  padding: 20px 16px 38px 16px;
}
