.vegetables {
  background-color: var(--background-2);
  padding-top: 80px;
  padding-bottom: 80px;
}

.veg-main-title {
  margin-bottom: 20px;
  /* color: var(--main-text);
  font-weight: 600;
  text-transform: uppercase; */
}

.veg-span-title {
  color: rgba(251, 251, 251, 0.3);
}

.veg-main-text {
  color: var(--main-text);
  margin-bottom: 40px;
}

.veg-item {
  border-radius: 40px;
  padding: 32px 26px;
  background: var(--main-text);
  margin-bottom: 20px;
  width: 100%;
  max-width: 334px;
}

.veg-item-title {
  color: #7a3145;
  margin-bottom: 20px;
}

.veg-item-text {
  color: #141414;
  margin-bottom: 14px;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
}

.veg-img {
}

@media screen and (min-width: 375px) {
  .vegetables {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media screen and (min-width: 768px) {
  .vegetables {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .veg-main-title {
    max-width: 508px;
    margin-bottom: 50px;
  }

  .veg-main-text {
    max-width: 626px;
    margin-bottom: 50px;
  }

  .veg-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 28px;
  }

  .veg-item {
    max-width: 342px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .vegetables {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .veg-main-title {
    margin-bottom: 25px;
  }

  .veg-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 21px;
    row-gap: 28px;
  }

  .veg-item {
    max-width: 346px;
    width: calc((100% - 42px) / 3);
  }
}
