.vegetables {
  background-color: var(--background-2);
}

.container {}

.veg-main-title {
  margin-bottom: 20px;
}

.headline2 {
  color: #fbfbfb;
}

.veg-span-title{
  color: rgba(251, 251, 251, 0.3);
}

.veg-span-title {
  font-family: "Inter Tight", sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 1.04167;
    letter-spacing: -0.01em;
    text-transform: uppercase;
  color: #7a3145;;
}

.veg-main-text {
  color: var(--main-text);
  margin-bottom: 40px;
}

.veg-list {
   
}

.veg-item {
  border-radius: 40px;
    padding: 32px 26px;
     /* min-width: 346px; */
    /* min-height: 379px; */ 
    background: #fbfbfb;
    margin-bottom: 20px;
}

.veg-item-title {
  color: #7a3145;
  margin-bottom: 20px;
}

.headline3 {}

.veg-item-text {
  color: #141414;
  margin-bottom: 14px;
}

.veg-img {}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
    padding: 0 20px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 100px;
    padding-right: 100px;
  }
}

